body{/**/
    background-color:rgb(31, 175, 3) ;/*Este es el fondo del color */
    font-family: Arial, "Trebuchet MS", Helvetica, sans-serif, Verdana;
}

h1{
    color: rgb(255, 255, 255);
}
h1,h2{
    text-align: center;/*AlineaciÃ³n de texto, al centro*/
}

p{
    color: rgb(250, 250, 250)
}